.carousel-container {
  display: flex;
  flex-direction: column;
}

.carousel-image {
  display: none;
  width: 90%;
  height: calc(100vh - 80px);
  padding-left: 65px;
}

.active-image {
  display: block;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 135px;
  margin-top: -300px;
}

.slider-container {
  padding-left: 65px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.slider-div {
  width: 40px;
  border: 1px solid white;
  padding: 4px;
  margin-left: 7px;
  background: none;
  border-radius: 5px;
}

.active-div {
  background-color: white;
}
